<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Funcionário</title>
    <link rel="stylesheet" th:href="@{/css/loginFuncionario.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container-fluid"> 
        <h1>Login Funcionário</h1>
        <form id="loginFuncionarioForm">
            <div class="form-group">
                <label for="email">E-mail:</label>
                <input type="email" class="form-control form-control-sm col-4" id="email" placeholder="E-mail">
            </div>
            <div class="form-group">
                <label for="senha">Senha:</label>
                <input type="password" class="form-control form-control-sm col-4" id="senha" placeholder="Senha">
            </div>
            <div class="form-group">
                <label for="perfil">Perfil do Usuário:</label>
                <input type="text" class="form-control form-control-sm col-4" id="perfil" placeholder="Perfil do Usuário">
            </div>
        </form>
        <div class="row">
            <div class="col-md-6">
                <button id="sair" class="btn btn-danger exit-button">Sair</button>
            </div>
            <div class="col-md-6 text-right">
                <button id="entrar" class="btn btn-primary">Entrar</button>
            </div>
        </div>
    </div>
    <script th:src="@{/js/loginFuncionario.js}"></script>
</body>
</html>
